body {
    font-family: "Noto Nastaliq Urdu", serif;
    margin: 0;
    background: #f4f6f8;
    direction: rtl;
}

header {
    background: #0b5ed7;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background: #083b8a;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    background: white;
    margin: 15px;
    border-radius: 8px;
}

h2 {
    color: #0b5ed7;
}

form input, form button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

form button {
    background: #0b5ed7;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    background: #083b8a;
    color: white;
    text-align: center;
    padding: 10px;
}